.flexVertical {
  display: flex;
  flex-flow: column nowrap;
}

.flexHorizontal {
  display: flex;
  flex-flow: row nowrap;
}

.flexSpacer {
  flex: 1;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}
