@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '../../styles/flex';

body {
  background-color: #020101;
  color: white;
  font-family: 'Roboto';
}

.app {
  composes: flexVertical;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
